<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/productos/<%= editAuto.id %>/editar" method="post">
        <div>
            <label for="marca"> Cambiar Marca </label>
            <input type="text" name="marca" id="marca" placeholder="Cambiar Marca">
        </div>
        <br>

        <div>
            <label for="modelo"> Cambiar Modelo </label>
            <input type="text" name="modelo" id="modelo" placeholder="Cambiar Modelo">
        </div>
        <br>

        <div>
            <label for="precio"> Cambiar Precio </label>
            <input type="number" name="precio" id="precio" placeholder="Cambiar Precio">
        </div>
        <br>

        <div>
            <button type="submit" value="Guardar Producto"> Editar vehículo </button>
        </div>
        <br>
    </form>
    <div>
        <a href="/"> Home </a>
    </div>
</body>
</html>